.tableList .ant-card-head{background-color: #e3e6ec;color: #5e5e5e}
.text_right{text-align: right}
.text_center{text-align: center}
.bottom_10{margin-bottom: 10px}
.menuDeta{border-bottom: 1px solid #e3e6ec;border-top: 1px solid #e3e6ec;padding:10px 0;margin-bottom: 10px}
.title_menu{font-weight: 600;}
.step{margin-bottom: 20px}